# {{ ansible_managed }}
/var/log/httpd/*log {
    {{ httpd_logrotate_period }}
    rotate {{ httpd_logrotate_keep }}
    {% if httpd_logrotate_compress %}compress{% else %}nocompress{% endif %}

    missingok
    notifempty
    sharedscripts
    delaycompress
    postrotate
        /bin/systemctl reload httpd.service > /dev/null 2>/dev/null || true
    endscript
}
