# {{ ansible_managed }}
/var/log/httpd/*log {
    {{ httpd_logrotate_period }}
    rotate {{ httpd_logrotate_keep }}
    {% if httpd_logrotate_compress %}compress{% else %}nocompress{% endif %}

    missingok
    notifempty
    sharedscripts
    delaycompress
    postrotate
{% if ansible_distribution_major_version|int > 6 %}
        /bin/systemctl reload httpd.service > /dev/null 2>/dev/null || true
{% else %}
        /sbin/service httpd reload > /dev/null 2>/dev/null || true
{% endif %}
    endscript
}
