
<Directory {{ item.documentroot }}>
    <IfModule mod_authz_core.c>
        Require all granted
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order allow,deny
        Allow from all
    </IfModule>
    AllowOverride {% if item.override is defined %}{{ item.override }}{% else %}{{ httpd_default_override }}{% endif +%}
</Directory>

{% if item.raw is defined -%}
{{ item.raw }}
{%- endif %}
