<VirtualHost *:{{ httpd_http_port }}>

    ServerName {{ item.servername }}
    DocumentRoot {{ item.documentroot }}
    CustomLog logs/{{ item.servername }}-access_log combined
    ErrorLog logs/{{ item.servername }}-error_log

    {% if item.ssl_offloaded is defined and item.ssl_offloaded -%}
    SetEnvIf X-Forwarded-Proto https HTTPS=on
    {% endif %}

    {% if item.redirect_http_to_https is defined and item.redirect_http_to_https -%}
    RewriteEngine On
    RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R,L]
    {% else -%}
    Include conf.d/vhost_{{ item.servername }}.conf.d/*.conf
    {% endif %}

</VirtualHost>

{% if ssl_certificates is defined and ssl_certificates[item.servername] is defined and ssl_certificates[item.servername].private_key is defined and ssl_certificates[item.servername].certificate is defined and httpd_mod_ssl %}
<VirtualHost *:443>

    ServerName {{ item.servername }}
    DocumentRoot {{ item.documentroot }}
    CustomLog logs/{{ item.servername }}-access_log combined
    ErrorLog logs/{{ item.servername }}-error_log

    Include conf.d/vhost_{{ item.servername }}.conf.d/*.conf

    SSLEngine On
    SSLCertificateFile /etc/pki/tls/certs/{{ item.servername }}.crt
    SSLCertificateKeyFile /etc/pki/tls/private/{{ item.servername }}.key
    {% if ssl_certificates[item.servername].chain is defined -%}
    SSLCertificateChainFile /etc/pki/tls/certs/{{ item.servername }}.chain.crt
    {%- endif %}

</VirtualHost>
{% endif %}