<VirtualHost *:{{ httpd_http_port }}>

    ServerName {{ item.servername }}
    {% if item.serveraliases is defined and item.serveraliases is sequence %}
    {% for alias in item.serveraliases %}
    ServerAlias {{ alias }}
    {% endfor %}
    {% endif %}

    DocumentRoot {{ item.documentroot }}
    CustomLog logs/{{ item.servername }}-access_log {% if item.remoteip is defined and item.remoteip %}remoteip{% else %}combined{% endif %}

    ErrorLog logs/{{ item.servername }}-error_log

    {% if item.ssl_offloaded is defined and item.ssl_offloaded -%}
    SetEnvIf X-Forwarded-Proto https HTTPS=on
    {% endif %}

    {% if item.redirect_http_to_https is defined and item.redirect_http_to_https and item.ssl_offloaded is defined and item.ssl_offloaded -%}
    RewriteEngine On
    RewriteCond %{ENV:HTTPS} !on
    RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]
    Include conf.d/vhost_{{ item.servername }}.conf.d/*.conf
    {% elif item.redirect_http_to_https is defined and item.redirect_http_to_https %}
    RewriteEngine On
    RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]
    {% else %}
    Include conf.d/vhost_{{ item.servername }}.conf.d/*.conf
    {% endif %}

</VirtualHost>

{% if ssl_certificates is defined and ssl_certificates[item.servername] is defined and ssl_certificates[item.servername].private_key is defined and ssl_certificates[item.servername].certificate is defined and httpd_mod_ssl or item.ssl_vhost is defined and item.ssl_vhost and httpd_mod_ssl %}
<VirtualHost *:443>

    ServerName {{ item.servername }}
    {% if item.serveraliases is defined and item.serveraliases is sequence %}
    {% for alias in item.serveraliases %}
    ServerAlias {{ alias }}
    {% endfor %}
    {% endif %}

    DocumentRoot {{ item.documentroot }}
    CustomLog logs/{{ item.servername }}-access_log {% if item.remoteip is defined and item.remoteip %}remoteip{% else %}combined{% endif %}

    ErrorLog logs/{{ item.servername }}-error_log

    Include conf.d/vhost_{{ item.servername }}.conf.d/*.conf

    SSLEngine On
    {% if ssl_certificates is defined and ssl_certificates[item.servername] is defined and ssl_certificates[item.servername].private_key is defined and ssl_certificates[item.servername].certificate is defined %}
        #using certificate defined by ssl role
        SSLCertificateFile /etc/pki/tls/certs/{{ item.servername }}.crt
        SSLCertificateKeyFile /etc/pki/tls/private/{{ item.servername }}.key
        {% if ssl_certificates[item.servername].chain is defined -%}
        SSLCertificateChainFile /etc/pki/tls/certs/{{ item.servername }}.chain.crt
        {%- endif %}

    {% elif item.ssl_key is defined and item.ssl_certificate is defined %}

        #using certificate defined in vhost config
        SSLCertificateFile {{ item.ssl_certificate }}
        SSLCertificateKeyFile {{ item.ssl_key }}
        {% if item.ssl_chain is defined -%}
        SSLCertificateChainFile {{ item.ssl_chain }}
        {%- endif %}

    {% else %}

        #using default certificate
        SSLCertificateFile {{ httpd_ssl_certificate }}
        SSLCertificateKeyFile {{ httpd_ssl_key }}
        {% if httpd_ssl_chain != '' -%}
        SSLCertificateChainFile {{ httpd_ssl_chain }}
        {%- endif %}

    {% endif %}



</VirtualHost>
{% endif %}