
<Directory {{ item.documentroot }}>
    <IfModule mod_authz_core.c>
        Require all granted
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order allow,deny
        Allow from all
    </IfModule>
    AllowOverride {% if item.override is defined %}{{ item.override }}{% else %}{{ httpd_default_override }}{% endif %}

</Directory>

{% if item.remoteip is defined and item.remoteip %}
<IfModule mod_remoteip.c>
RemoteIPHeader {{ httpd_remoteip_header }}
{% for item in httpd_remoteip_internal_proxies %}
RemoteIPInternalProxy {{ item }}
{% endfor %}
{% for item in httpd_remoteip_trusted_proxies %}
RemoteIPTrustedProxy {{ item }}
{% endfor %}
</IfModule>
{% endif %}

{% if item.raw is defined -%}
{{ item.raw }}
{%- endif %}
